.fa-paper-plane {
  color: white;
  margin-top: 25px;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

video {
  object-fit: fill;
  width: 300px;
  height: 220px;
  padding: 2px;
}

.videos__users-video {
  height: calc(100% - 67px);
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videos__controls {
  height: 67px;
  display: flex;
  background-color: #1C1E20;
  color: #D2D2D2;
  padding: 5px;
  justify-content: space-between;
}

.control {
  display: flex;
}

.control__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.control__btn-container i {
  font-size: 24px;
}

.control__btn-container:hover {
  background-color: #343434;
  border-radius: 5px;
}

.leave_meeting {
  margin-top: 12px;
  color: red;
}

.chat {
  position: relative;
  background-color: #242324;
  border-left: 1px solid #3D3D42;
}

.chat__header {
  color: #F5F5F5;
  text-align: center;
}

.chat__msg-container {
  flex-grow: 1;
  overflow-y: scroll;
  height: calc(100% - 110px);
}

.chat__msg-send-container {
  position: absolute;
  bottom: 0;
  padding: 22px 12px;
  display: flex;
}

.chat__msg-send-container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #F5F5F5;
}

.messages {
  color: white;
  list-style: none;
  margin: 0;
}

.messages p {
  overflow-wrap: break-word;
}

.unmute, .stop {
  color: #CC3B33;
}

.room,
.room .col {
  height: 100%;
}
